* {
    color: white;
    
}

body {
    background-color:darkred;
    color:white;
    background-image: url('img/Fondo.png');
    height: 250px;
    background-size: 700px 700px;

}
#titulo {
    color: black;

}
article.post {
    color: rgb(25, 255, 228);
}
header {
    border: 7px white outset;
    background-color: rgba(172, 172, 172, 0.933);
}
article2.post {
    color: rgb(49, 201, 252);
}
div p {
    background-color: rgb(142, 3, 3);
}

/* Esto es un comentario */
h2 {
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 4px;
}
